:root {
  /* yellow color */
  --yellow-50: #f4971538;
  --yellow-100: #dbb886;
  --yellow-200: #e3b472;
  --yellow-300: #e5af64;
  --yellow-400: #e5a750;
  --yellow-500: #eba542;
  --yellow-600: #f1a231;
  --yellow-700: #ef991f;
  --yellow-800: #f49815;

  /* text colors */
  --main-text: #303030;
  --dark-text: #000000;
  --light-text: #fefefe;
  --white-bg: #fff;
  --color-black-rgb: 0, 0, 0;

  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;

  --color-primary: #149741;
  --color-primary-hover: #149742c2;
  --color-default: #1a1f24;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  /* overflow-x: hidden; */
  /* max-width: 100vw; */
}

a {
  color: var(--yellow-800);
  text-decoration: none;
}

a:hover {
  color: var(--yellow-400);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--yellow-600);
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--yellow-600);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: var(--yellow-300);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  border-bottom: 3px solid var(--yellow-700);
  margin-bottom: -66px;
}
#header.header-scrolled,
#header.header-inner-pages {
  background: rgb(255, 255, 255);
}
#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: var(--yellow-800);
}
#header .logo img {
  max-height: 75px;
}
/* @media (max-width: 992px) {
  #header {
    border: 0;
  }
} */

/* ----------------------------------------------------------
# Contact Info Bar
-------------------------------------------------------------*/
.contact-info-bar-container {
  background-color: var(--yellow-500);
  background: url("../img/pattern.svg");
}

.contact-info-item {
  list-style: none;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.contact-info-item a {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

@media (max-width: 991px) {
  .contact-info-bar-container {
    display: none;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: rgb(63, 63, 63);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 13px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--yellow-800);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  color: #123b0f;
}
.navbar .dropdown ul a i {
  font-size: 16px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: var(--yellow-800);
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: rgb(65, 65, 65);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 39, 43, 0.9);
  transition: 0.3s;
  z-index: 999;
  max-width: 100vw;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #394047;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--yellow-700);
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: var(--yellow-600);
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 30px);
  background-color: rgba(51, 75, 61, 0.8);
  overflow: hidden;
  position: relative;
}
#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero .carousel-item::before {
  content: "";
  background-color: rgba(12, 14, 12, 0.685);
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 70px;
  left: 50px;
  right: 50px;
}
#hero .container {
  text-align: center;
}
#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}
#hero p {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  margin: 0 auto 30px auto;
  color: #fff;
}

@media (max-width: 500px) {
  #hero p {
    font-size: 18px;
  }
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}
#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}
#hero .carousel-indicators li.active {
  opacity: 1;
  background: var(--color-primary);
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: var(--color-primary);
}
#hero .btn-get-started:hover {
  background: var(--color-primary-hover);
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding-top: 80px;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: var(--yellow-600);
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: var(--yellow-600);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid var(--yellow-600);
}
.about .content .btn-learn-more:hover {
  background: var(--yellow-600);
  color: #fff;
  text-decoration: none;
}
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 80px 0 60px 0;
}
.counts .counters span {
  font-size: 48px;
  display: block;
  color: var(--yellow-600);
  font-weight: 700;
}
.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
  padding-top: 0;
}
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #394047;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #e3e6e9;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--yellow-600);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 40px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}
.services .service-box .icon {
  font-size: 36px;
  padding: 20px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-box .icon img {
  width: 200px;
  border-radius: 6px;
}

.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}

.services .service-box h3 small {
  color: var(--yellow-600);
  font-weight: 600;
  font-size: 16px;
  border: 1px solid var(--yellow-500);
  border-radius: 20px;
  padding: 3px 10px;
}
.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}
.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}
.services .service-box.yellow-herbs {
  border-bottom: 3px solid #004b23;
}
.services .service-box.yellow-herbs .icon {
  color: #004b23;
  background: #d8f3db;
}
.services .service-box.yellow-herbs .read-more {
  color: #0c6435;
}
.services .service-box.yellow-herbs:hover {
  background: #045a2c;
}
.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}
.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}
.services .service-box.orange .read-more {
  color: #f68c09;
}
.services .service-box.orange:hover {
  background: #f68c09;
}
.services .service-box.green-herbs {
  border-bottom: 3px solid #08da4e;
}
.services .service-box.green-herbs .icon {
  color: #08da4e;
  background: #cffddf;
}
.services .service-box.green-herbs .read-more {
  color: #08da4e;
}
.services .service-box.green-herbs:hover {
  background: #08da4e;
}
.services .service-box.red-spices {
  border-bottom: 3px solid #e94a22;
}
.services .service-box.red-spices .icon {
  color: #e94a22;
  background: #f3e8e5;
}
.services .service-box.red-spices .read-more {
  color: #e94a22;
}
.services .service-box.red-spices:hover {
  background: #e94a22;
}
.services .service-box.yellow-seeds {
  border-bottom: 3px solid #ccbd36;
}
.services .service-box.yellow-seeds .icon {
  color: #ccbd36;
  background: #f8f5dd;
}
.services .service-box.yellow-seeds .read-more {
  color: #ccbd36;
}
.services .service-box.yellow-seeds:hover {
  background: #ccbd36;
}
.services .service-box.yellow-oils {
  border-bottom: 3px solid #a0b943;
}
.services .service-box.yellow-oils .icon {
  color: #a0b943;
  background: #f1f7db;
}
.services .service-box.yellow-oils .read-more {
  color: #a0b943;
}
.services .service-box.yellow-oils:hover {
  background: #a0b943;
}
.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover h3 small,
.services .service-box:hover .read-more {
  color: #fff;
}
.services .service-box:hover h3 small {
  border: 1px solid #fff;
}
.services .service-box:hover .icon {
  background: #fff;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(12, 13, 14, 0.8), rgba(12, 13, 14, 0.8)),
    url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}
.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.cta p {
  color: #fff;
}
.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 20px;
  background: var(--yellow-600);
  color: #fff;
}
.cta .cta-btn:hover {
  background: var(--yellow-800);
}

/*--------------------------------------------------------------
# Certificates
--------------------------------------------------------------*/
.certificates .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--yellow-700);
  border-radius: 4px;
}

@media only screen and (max-width: 500px) {
  .certificates .member {
    min-height: initial;
  }
}

.certificates .member img {
  min-height: 100% !important;
  min-width: 100%;
  object-fit: cover;
}

.certificates .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.certificates .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: bottom 0.4s;
}
.certificates .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.certificates .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
.certificates .member .social {
  position: absolute;
  left: 0;
  bottom: -38px;
  right: 0;
  height: 48px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
}
.certificates .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}
.certificates .member .social a:hover {
  color: var(--yellow-600);
}
.certificates .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.certificates .member:hover .member-info {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 212, 255, 0) 100%
  );
  opacity: 1;
  transition: 0.4s;
}
.certificates .member:hover .member-info-content {
  bottom: 60px;
  transition: bottom 0.4s;
}
.certificates .member:hover .social {
  bottom: 0;
  transition: bottom ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: var(--yellow-800);
  float: left;
  width: 44px;
  height: 44px;
  background: var(--yellow-50);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2a2c39;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555974;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: var(--yellow-800);
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: var(--yellow-800);
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: var(--yellow-400);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--yellow-400);
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: var(--yellow-600);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: var(--yellow-600);
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f7f8f8;
  min-height: 120px;
  margin-top: 65px;
}

.herbs-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.377)),
    url(../img/slide/slide-1.jpg);
  background-size: cover;
}

.spices-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.377)),
    url(../img/spices.jpg);
  background-size: cover;
}

.seeds-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(0, 0, 0, 0.377)),
    url(../img/seeds.jpg);
  background-size: cover;
}


@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--light-text);
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
  color: var(--light-text);
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--light-text);
  content: "/";
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #14151c;
  color: #fff;
  padding: 0 0 30px 0;
  font-size: 14px;
}

#footer .footer-top {
  background: #14151c;
  padding: 60px 0 30px 0;
  border-top: 2px solid var(--yellow-800);
  border-bottom: 2px solid var(--yellow-800);
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--yellow-800);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: var(--yellow-600);
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--yellow-800);
  font-size: 18px;
  line-height: 1;
  margin-left: -5px;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: var(--yellow-800);
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #e3e7e9;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: var(--yellow-800);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: var(--yellow-600);
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 8px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

/* products page */

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.product-items .img {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0 25px rgba(var(--color-black-rgb), 0.1);
}
.product-items .img img {
  transition: 0.6s;
  height: 300px;
  width: 100%;
}
.product-items .details {
  padding: 30px 30px;
  margin: -70px 30px 0 30px;
  transition: all ease-in-out 0.3s;
  background: var(--color-white);
  position: relative;
  background: rgba(var(--color-white-rgb), 0.9);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0 25px rgba(var(--color-black-rgb), 0.1);
}

.product-items-herbs .details {
  padding: 15px 30px 30px 30px;
}

.product-items .details h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}
.product-items .details p {
  line-height: 24px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
.product-items .product-item:hover .details h3 {
  color: var(--color-primary);
}
.product-items .product-item:hover .details .icon {
  background: var(--color-white);
  border: 2px solid var(--color-primary);
}
.product-items .product-item:hover .details .icon i {
  color: var(--color-primary);
}
.product-items .product-item:hover .img img {
  transform: scale(1.2);
}

/* extra styles */
.hero-description {
  font-size: 22px;
}

/* organic styles */
.organic-text {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.organic-tag {
  display: inline-block;
  background-color: var(--yellow-500);
  color: #fff;
  padding: 7px 10px;
  border-radius: 25px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.organic-tag span {
  padding-right: 5px;
  font-weight: 600;
}

.organic-tag i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
}

.small-organic-tag {
  display: inline-block;
  border: 2px solid var(--yellow-500);
  color: var(--yellow-500);
  padding: 3px 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: 0.4s;
}

.small-organic-tag span {
  padding-right: 3px;
  font-weight: 600;
  font-size: 14px;
}

.product-items .product-item:hover .small-organic-tag {
  color: #fff;
  background-color: var(--yellow-500);
}
